# Dependency-Verzeichnisse
node_modules/**/*
.pnpm/

# Output
dist/
build/

# Umgebungsvariablen
.env
.env.local
.env.*

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-Zeug
.vscode/
.idea/
*.swp
.DS_Store

# Sonstiges
coverage/
*.log
