{% extends "templates/layout.njk" %}
{% set title = "M.E.A.T. Control Center" %}
{% set sidebar_active = "dashboard" %}

{% block content %}
<div id="dashboard-content" class="flex-1 flex-col gap-8">
  {% set page_label = "Dashboard" %}
  {% set page_title = "Control Center" %}
  {% include "templates/partials/page-header.njk" %}
  {% include "templates/partials/dashboard-cards.njk" %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module" src="scripts/dashboard.js"></script>
{% endblock %}
